In [1]:
import pandas as pd

In [2]:
# import all csvs to list
import glob
# data from https://www.realtor.com/research/data/
df_list = [pd.read_csv(file) for file in glob.glob('data/*.csv')]

In [3]:
df_list[0].head()

,RegionID,SizeRank,RegionName,RegionType,StateName,2017-11-30,2017-12-31,2018-01-31,2018-02-28,2018-03-31,...,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31,2021-02-28
0,102001,0,United States,Country,NaN,1532081.0,1370878.0,1377648.0,1404505.0,1542226.0,...,1466981.0,1460796.0,1433545.0,1378815.0,1326341.0,1314166.0,1147993.0,1001854.0,1032279.0,882590.0
1,394913,1,"New York, NY",Msa,NY,74716.0,65772.0,65538.0,73358.0,79303.0,...,69327.0,77590.0,83025.0,81476.0,82402.0,80986.0,72067.0,62910.0,61025.0,57795.0
2,753899,2,"Los Angeles-Long Beach-Anaheim, CA",Msa,CA,22385.0,18279.0,19814.0,21856.0,24147.0,...,23492.0,25293.0,26359.0,26408.0,26436.0,26309.0,23213.0,19485.0,19604.0,19262.0
3,394463,3,"Chicago, IL",Msa,IL,47979.0,40571.0,40373.0,43022.0,51570.0,...,49402.0,52057.0,52380.0,51375.0,49456.0,48574.0,41759.0,34916.0,34766.0,30314.0
4,394514,4,"Dallas-Fort Worth, TX",Msa,TX,26705.0,23300.0,22862.0,23468.0,26731.0,...,35059.0,34970.0,34035.0,31519.0,28748.0,30014.0,26176.0,22415.0,22700.0,18905.0

In [4]:
df_list[1].head()

,Areaname,STCOU,LND010190F,LND010190D,LND010190N1,LND010190N2,LND010200F,LND010200D,LND010200N1,LND010200N2,...,LND110210N1,LND110210N2,LND210190F,LND210190D,LND210190N1,LND210190N2,LND210200F,LND210200D,LND210200N1,LND210200N2
0,UNITED STATES,0,0,3787425.08,0,0,0,3794083.06,0,0,...,0,0,0,251083.35,0,0,0,256644.62,0,0
1,ALABAMA,1000,0,52422.94,0,0,0,52419.02,0,0,...,0,0,0,1672.71,0,0,0,1675.01,0,0
2,"Autauga, AL",1001,0,604.49,0,0,0,604.45,0,0,...,0,0,0,8.48,0,0,0,8.48,0,0
3,"Baldwin, AL",1003,0,2027.08,0,0,0,2026.93,0,0,...,0,0,0,430.55,0,0,0,430.58,0,0
4,"Barbour, AL",1005,0,904.59,0,0,0,904.52,0,0,...,0,0,0,19.59,0,0,0,19.61,0,0

In [5]:
df_list[0]['state_id'] = df_list[0]['county_name'].apply(lambda x: x.split(', ')[1])
df_list[0]['county'] = df_list[0]['county_name'].apply(lambda x: x.split(', ')[0])

KeyError: 'county_name'

In [ ]:
# merge data together
realtor = pd.merge(df_list[0], df_list[1][['state', 'state_id']], left_on='state_id', right_on='state_id').drop(['county_name'], axis=1)

In [ ]:
realtor.info()

In [ ]:
# convert to datetime
realtor['date'] = pd.to_datetime(realtor['month_date_yyyymm'], format='%Y%m', errors='coerce').dropna()
realtor.drop('month_date_yyyymm', axis=1, inplace=True)

In [ ]:
# smaller set with only 2020 to current
realtor_covid = realtor[realtor['date'] >= '2020']

In [ ]:
# saving to csvs for later use
realtor.to_csv('data/full_realtor.csv', index=False)
realtor_covid.to_csv('data/realtor_covid.csv', index=False)

------

In [1]:
import pandas as pd

In [2]:
cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')

In [3]:
deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')

In [4]:
cases.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,4/17/21,4/18/21,4/19/21,4/20/21,4/21/21,4/22/21,4/23/21,4/24/21,4/25/21,4/26/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,6760,6763,6763,6773,6793,6819,6835,6876,6879,6882
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,20714,20723,20730,20764,20787,20815,20833,20838,20847,20863
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,2271,2271,2271,2275,2284,2289,2292,2296,2296,2296
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,2563,2563,2567,2569,2569,2573,2578,2582,2584,2584
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,6529,6532,6532,6548,6556,6563,6570,6570,6571,6574

In [18]:
deaths.head()

Index(['UID', 'iso2', 'iso3', 'code3', 'FIPS', 'Admin2', 'Province_State',
       'Country_Region', 'Lat', 'Long_', 'Combined_Key', 'Population', 'date',
       'deaths'],
      dtype='object')

In [6]:
# melt dates to column
val_cols = cases.columns[11:]
id_cols = cases.columns[:11]
cases = cases.melt(value_vars=val_cols, id_vars=id_cols, var_name='date', value_name='cases')

In [7]:
# same for deaths
val_cols = deaths.columns[12:]
id_cols = deaths.columns[:12]
deaths = deaths.melt(value_vars=val_cols, id_vars=id_cols, var_name='date', value_name='deaths')

In [8]:
cases.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,date,cases
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,"Autauga, Alabama, US",1/22/20,0
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,"Baldwin, Alabama, US",1/22/20,0
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,"Barbour, Alabama, US",1/22/20,0
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,"Bibb, Alabama, US",1/22/20,0
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,"Blount, Alabama, US",1/22/20,0

In [9]:
deaths.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Population,date,deaths
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,"Autauga, Alabama, US",55869,1/22/20,0
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,"Baldwin, Alabama, US",223234,1/22/20,0
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,"Barbour, Alabama, US",24686,1/22/20,0
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,"Bibb, Alabama, US",22394,1/22/20,0
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,"Blount, Alabama, US",57826,1/22/20,0

In [10]:
# convert to datetime
cases['date'] = pd.to_datetime(cases.date)
deaths['date'] = pd.to_datetime(deaths.date)

In [11]:
# grouping on monthly 
g = cases.groupby([pd.Grouper(freq="M", key='date',), 'Admin2', 'Province_State'])
cases_g = g.max().reset_index()[['date', 'Admin2', 'Province_State', 'cases']]
cases_g

            date     Admin2  Province_State  cases
0     2020-01-31  Abbeville  South Carolina      0
1     2020-01-31     Acadia       Louisiana      0
2     2020-01-31   Accomack        Virginia      0
3     2020-01-31        Ada           Idaho      0
4     2020-01-31      Adair            Iowa      0
...          ...        ...             ...    ...
53371 2021-04-30       Yuma         Arizona  37049
53372 2021-04-30       Yuma        Colorado    866
53373 2021-04-30     Zapata           Texas   1764
53374 2021-04-30     Zavala           Texas   1853
53375 2021-04-30    Ziebach    South Dakota    343

[53376 rows x 4 columns]

In [12]:
# grouping on monthly for deaths
g = deaths.groupby([pd.Grouper(freq="M", key='date',), 'Admin2', 'Province_State'])
deaths_g = g.max().reset_index()[['date', 'Admin2', 'Province_State', 'deaths']]
deaths_g

            date     Admin2  Province_State  deaths
0     2020-01-31  Abbeville  South Carolina       0
1     2020-01-31     Acadia       Louisiana       0
2     2020-01-31   Accomack        Virginia       0
3     2020-01-31        Ada           Idaho       0
4     2020-01-31      Adair            Iowa       0
...          ...        ...             ...     ...
53371 2021-04-30       Yuma         Arizona     830
53372 2021-04-30       Yuma        Colorado      17
53373 2021-04-30     Zapata           Texas      36
53374 2021-04-30     Zavala           Texas      40
53375 2021-04-30    Ziebach    South Dakota       9

[53376 rows x 4 columns]

In [13]:
# merge data 
covid = pd.merge(left=cases_g, right=deaths_g, how='left')

In [14]:
covid.head()

        date     Admin2  Province_State  cases  deaths
0 2020-01-31  Abbeville  South Carolina      0       0
1 2020-01-31     Acadia       Louisiana      0       0
2 2020-01-31   Accomack        Virginia      0       0
3 2020-01-31        Ada           Idaho      0       0
4 2020-01-31      Adair            Iowa      0       0

In [15]:
# normalize text
covid[['county', 'state']] = covid[['Admin2', 'Province_State']].apply(lambda x: x.astype(str).str.lower())
# drop cols
covid.drop(['Admin2', 'Province_State'], axis=1, inplace=True)

In [16]:
covid = covid[covid['date'] < '2021-03-30']

In [19]:
covid.to_csv('data/joined_covid.csv', index=False)

-----

In [17]:
import pandas as pd

In [18]:
covid = pd.read_csv('data/joined_covid.csv', parse_dates=[1])
houses = pd.read_csv('data/realtor_covid.csv', parse_dates=[40])

FileNotFoundError: [Errno 2] No such file or directory: 'data/realtor_covid.csv'

In [3]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50010 entries, 0 to 50009
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  50010 non-null  int64
 1   date        50010 non-null  datetime64[ns]
 2   cases       50010 non-null  int64
 3   deaths      50010 non-null  int64
 4   county      50010 non-null  object
 5   state       50010 non-null  object
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 2.3+ MB

In [4]:
houses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 784000 entries, 0 to 783999
Data columns (total 41 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   county_fips                              784000 non-null  int64
 1   median_listing_price                     784000 non-null  float64
 2   median_listing_price_mm                  784000 non-null  float64
 3   median_listing_price_yy                  784000 non-null  float64
 4   active_listing_count                     784000 non-null  int64
 5   active_listing_count_mm                  784000 non-null  float64
 6   active_listing_count_yy                  784000 non-null  float64
 7   median_days_on_market                    784000 non-null  float64
 8   median_days_on_market_mm                 784000 non-null  float64
 9   median_days_on_market_yy                 784000 non-null  float64
 10  new_listing_count                        784000 non-null  int64
 11  new_listing_count_mm                     784000 non-null  float64
 12  new_listing_count_yy                     784000 non-null  float64
 13  price_increased_count                    784000 non-null  int64
 14  price_increased_count_mm                 486864 non-null  float64
 15  price_increased_count_yy                 477624 non-null  float64
 16  price_reduced_count                      784000 non-null  int64
 17  price_reduced_count_mm                   782936 non-null  float64
 18  price_reduced_count_yy                   783664 non-null  float64
 19  pending_listing_count                    784000 non-null  int64
 20  pending_listing_count_mm                 774256 non-null  float64
 21  pending_listing_count_yy                 763056 non-null  float64
 22  median_listing_price_per_square_foot     784000 non-null  float64
 23  median_listing_price_per_square_foot_mm  760032 non-null  float64
 24  median_listing_price_per_square_foot_yy  752864 non-null  float64
 25  median_square_feet                       784000 non-null  float64
 26  median_square_feet_mm                    760032 non-null  float64
 27  median_square_feet_yy                    752864 non-null  float64
 28  average_listing_price                    784000 non-null  float64
 29  average_listing_price_mm                 784000 non-null  float64
 30  average_listing_price_yy                 784000 non-null  float64
 31  total_listing_count                      784000 non-null  int64
 32  total_listing_count_mm                   784000 non-null  float64
 33  total_listing_count_yy                   784000 non-null  float64
 34  pending_ratio                            784000 non-null  float64
 35  pending_ratio_mm                         784000 non-null  float64
 36  pending_ratio_yy                         784000 non-null  float64
 37  state_id                                 784000 non-null  object
 38  county                                   784000 non-null  object
 39  state                                    784000 non-null  object
 40  date                                     784000 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(30), int64(7), object(3)
memory usage: 245.2+ MB

In [5]:
# grouping on monthly for deaths
g = houses.groupby([pd.Grouper(freq="M", key='date'), 'county', 'state'])
houses_g = g.median().reset_index()
houses_g.head()

,date,county,state,county_fips,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,...,median_square_feet_yy,average_listing_price,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy
0,2020-01-31,acadia,louisiana,22001,145500.0,0.0055,0.1086,127,-0.0078,-0.2256,...,0.0399,186789.8603,0.0118,0.3000,160,-0.0184,-0.1960,0.259843,-0.0136,0.0464
1,2020-01-31,ada,idaho,16001,413420.0,0.0210,0.0959,1282,-0.1419,-0.1803,...,0.0268,516557.6337,0.0358,0.0961,1322,-0.1376,-0.1675,0.031201,0.0051,0.0159
2,2020-01-31,adams,colorado,8001,450000.0,0.0779,0.0588,504,-0.3793,-0.4419,...,-0.1725,486766.6235,0.0860,0.0552,1178,-0.2929,-0.2976,1.337302,0.2856,0.4802
3,2020-01-31,adams,illinois,17001,139900.0,-0.0264,0.0919,230,-0.2308,-0.1481,...,0.0649,171636.9751,-0.0287,0.0720,293,-0.0298,0.0693,0.273913,0.2639,0.2591
4,2020-01-31,adams,pennsylvania,42001,261523.0,0.0078,0.1398,271,-0.0906,-0.0814,...,0.0026,313820.6188,0.0184,0.1558,290,-0.0909,-0.0675,0.070111,-0.0004,0.0159

In [9]:
# merge data 
df = pd.merge(covid, houses_g, on=['county', 'state', 'date'])

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13804 entries, 0 to 13803
Data columns (total 43 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Unnamed: 0                               13804 non-null  int64
 1   date                                     13804 non-null  datetime64[ns]
 2   cases                                    13804 non-null  int64
 3   deaths                                   13804 non-null  int64
 4   county                                   13804 non-null  object
 5   state                                    13804 non-null  object
 6   county_fips                              13804 non-null  int64
 7   median_listing_price                     13804 non-null  float64
 8   median_listing_price_mm                  13804 non-null  float64
 9   median_listing_price_yy                  13804 non-null  float64
 10  active_listing_count                     13804 non-null  int64
 11  active_listing_count_mm                  13804 non-null  float64
 12  active_listing_count_yy                  13804 non-null  float64
 13  median_days_on_market                    13804 non-null  float64
 14  median_days_on_market_mm                 13804 non-null  float64
 15  median_days_on_market_yy                 13804 non-null  float64
 16  new_listing_count                        13804 non-null  int64
 17  new_listing_count_mm                     13804 non-null  float64
 18  new_listing_count_yy                     13804 non-null  float64
 19  price_increased_count                    13804 non-null  int64
 20  price_increased_count_mm                 8566 non-null   float64
 21  price_increased_count_yy                 8406 non-null   float64
 22  price_reduced_count                      13804 non-null  int64
 23  price_reduced_count_mm                   13786 non-null  float64
 24  price_reduced_count_yy                   13798 non-null  float64
 25  pending_listing_count                    13804 non-null  int64
 26  pending_listing_count_mm                 13652 non-null  float64
 27  pending_listing_count_yy                 13466 non-null  float64
 28  median_listing_price_per_square_foot     13804 non-null  float64
 29  median_listing_price_per_square_foot_mm  13376 non-null  float64
 30  median_listing_price_per_square_foot_yy  13248 non-null  float64
 31  median_square_feet                       13804 non-null  float64
 32  median_square_feet_mm                    13376 non-null  float64
 33  median_square_feet_yy                    13248 non-null  float64
 34  average_listing_price                    13804 non-null  float64
 35  average_listing_price_mm                 13804 non-null  float64
 36  average_listing_price_yy                 13804 non-null  float64
 37  total_listing_count                      13804 non-null  int64
 38  total_listing_count_mm                   13804 non-null  float64
 39  total_listing_count_yy                   13804 non-null  float64
 40  pending_ratio                            13804 non-null  float64
 41  pending_ratio_mm                         13804 non-null  float64
 42  pending_ratio_yy                         13804 non-null  float64
dtypes: datetime64[ns](1), float64(30), int64(10), object(2)
memory usage: 4.6+ MB

In [18]:
df.drop('Unnamed: 0', axis=1).to_csv('data/project_data.csv')

-----

In [24]:
covid = pd.read_csv('data/joined_covid.csv')
houses = pd.read_csv('data/project_data.csv', index_col=0)

In [25]:
covid.head()

         date  cases  deaths     county           state
0  2020-01-31      0       0  abbeville  south carolina
1  2020-01-31      0       0     acadia       louisiana
2  2020-01-31      0       0   accomack        virginia
3  2020-01-31      0       0        ada           idaho
4  2020-01-31      0       0      adair            iowa

In [26]:
houses.head()

,date,cases,deaths,county,state,county_fips,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,...,median_square_feet_yy,average_listing_price,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy
0,2020-01-31,0,0,acadia,louisiana,22001,145500.0,0.0055,0.1086,127,...,0.0399,186789.8603,0.0118,0.3000,160,-0.0184,-0.1960,0.259843,-0.0136,0.0464
1,2020-01-31,0,0,ada,idaho,16001,413420.0,0.0210,0.0959,1282,...,0.0268,516557.6337,0.0358,0.0961,1322,-0.1376,-0.1675,0.031201,0.0051,0.0159
2,2020-01-31,0,0,adams,colorado,8001,450000.0,0.0779,0.0588,504,...,-0.1725,486766.6235,0.0860,0.0552,1178,-0.2929,-0.2976,1.337302,0.2856,0.4802
3,2020-01-31,0,0,adams,illinois,17001,139900.0,-0.0264,0.0919,230,...,0.0649,171636.9751,-0.0287,0.0720,293,-0.0298,0.0693,0.273913,0.2639,0.2591
4,2020-01-31,0,0,adams,pennsylvania,42001,261523.0,0.0078,0.1398,271,...,0.0026,313820.6188,0.0184,0.1558,290,-0.0909,-0.0675,0.070111,-0.0004,0.0159

In [27]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46704 entries, 0 to 46703
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    46704 non-null  object
 1   cases   46704 non-null  int64
 2   deaths  46704 non-null  int64
 3   county  46704 non-null  object
 4   state   46704 non-null  object
dtypes: int64(2), object(3)
memory usage: 1.8+ MB

In [28]:
houses.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13804 entries, 0 to 13803
Data columns (total 42 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   date                                     13804 non-null  object
 1   cases                                    13804 non-null  int64
 2   deaths                                   13804 non-null  int64
 3   county                                   13804 non-null  object
 4   state                                    13804 non-null  object
 5   county_fips                              13804 non-null  int64
 6   median_listing_price                     13804 non-null  float64
 7   median_listing_price_mm                  13804 non-null  float64
 8   median_listing_price_yy                  13804 non-null  float64
 9   active_listing_count                     13804 non-null  int64
 10  active_listing_count_mm                  13804 non-null  float64
 11  active_listing_count_yy                  13804 non-null  float64
 12  median_days_on_market                    13804 non-null  float64
 13  median_days_on_market_mm                 13804 non-null  float64
 14  median_days_on_market_yy                 13804 non-null  float64
 15  new_listing_count                        13804 non-null  int64
 16  new_listing_count_mm                     13804 non-null  float64
 17  new_listing_count_yy                     13804 non-null  float64
 18  price_increased_count                    13804 non-null  int64
 19  price_increased_count_mm                 8566 non-null   float64
 20  price_increased_count_yy                 8406 non-null   float64
 21  price_reduced_count                      13804 non-null  int64
 22  price_reduced_count_mm                   13786 non-null  float64
 23  price_reduced_count_yy                   13798 non-null  float64
 24  pending_listing_count                    13804 non-null  int64
 25  pending_listing_count_mm                 13652 non-null  float64
 26  pending_listing_count_yy                 13466 non-null  float64
 27  median_listing_price_per_square_foot     13804 non-null  float64
 28  median_listing_price_per_square_foot_mm  13376 non-null  float64
 29  median_listing_price_per_square_foot_yy  13248 non-null  float64
 30  median_square_feet                       13804 non-null  float64
 31  median_square_feet_mm                    13376 non-null  float64
 32  median_square_feet_yy                    13248 non-null  float64
 33  average_listing_price                    13804 non-null  float64
 34  average_listing_price_mm                 13804 non-null  float64
 35  average_listing_price_yy                 13804 non-null  float64
 36  total_listing_count                      13804 non-null  int64
 37  total_listing_count_mm                   13804 non-null  float64
 38  total_listing_count_yy                   13804 non-null  float64
 39  pending_ratio                            13804 non-null  float64
 40  pending_ratio_mm                         13804 non-null  float64
 41  pending_ratio_yy                         13804 non-null  float64
dtypes: float64(30), int64(9), object(3)
memory usage: 4.5+ MB

In [33]:
full = pd.merge(houses, covid, on=['state', 'county', 'date'], how='left')

In [34]:
full.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13804 entries, 0 to 13803
Data columns (total 44 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   date                                     13804 non-null  object
 1   cases_x                                  13804 non-null  int64
 2   deaths_x                                 13804 non-null  int64
 3   county                                   13804 non-null  object
 4   state                                    13804 non-null  object
 5   county_fips                              13804 non-null  int64
 6   median_listing_price                     13804 non-null  float64
 7   median_listing_price_mm                  13804 non-null  float64
 8   median_listing_price_yy                  13804 non-null  float64
 9   active_listing_count                     13804 non-null  int64
 10  active_listing_count_mm                  13804 non-null  float64
 11  active_listing_count_yy                  13804 non-null  float64
 12  median_days_on_market                    13804 non-null  float64
 13  median_days_on_market_mm                 13804 non-null  float64
 14  median_days_on_market_yy                 13804 non-null  float64
 15  new_listing_count                        13804 non-null  int64
 16  new_listing_count_mm                     13804 non-null  float64
 17  new_listing_count_yy                     13804 non-null  float64
 18  price_increased_count                    13804 non-null  int64
 19  price_increased_count_mm                 8566 non-null   float64
 20  price_increased_count_yy                 8406 non-null   float64
 21  price_reduced_count                      13804 non-null  int64
 22  price_reduced_count_mm                   13786 non-null  float64
 23  price_reduced_count_yy                   13798 non-null  float64
 24  pending_listing_count                    13804 non-null  int64
 25  pending_listing_count_mm                 13652 non-null  float64
 26  pending_listing_count_yy                 13466 non-null  float64
 27  median_listing_price_per_square_foot     13804 non-null  float64
 28  median_listing_price_per_square_foot_mm  13376 non-null  float64
 29  median_listing_price_per_square_foot_yy  13248 non-null  float64
 30  median_square_feet                       13804 non-null  float64
 31  median_square_feet_mm                    13376 non-null  float64
 32  median_square_feet_yy                    13248 non-null  float64
 33  average_listing_price                    13804 non-null  float64
 34  average_listing_price_mm                 13804 non-null  float64
 35  average_listing_price_yy                 13804 non-null  float64
 36  total_listing_count                      13804 non-null  int64
 37  total_listing_count_mm                   13804 non-null  float64
 38  total_listing_count_yy                   13804 non-null  float64
 39  pending_ratio                            13804 non-null  float64
 40  pending_ratio_mm                         13804 non-null  float64
 41  pending_ratio_yy                         13804 non-null  float64
 42  cases_y                                  13804 non-null  int64
 43  deaths_y                                 13804 non-null  int64
dtypes: float64(30), int64(11), object(3)
memory usage: 4.7+ MB

In [35]:
full.drop(['cases_x', 'deaths_x'], axis=1, inplace=True)

,date,county,state,county_fips,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,...,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy,cases,deaths
0,2020-01-31,acadia,louisiana,22001,145500.0,0.0055,0.1086,127,-0.0078,-0.2256,...,0.0118,0.3000,160,-0.0184,-0.1960,0.259843,-0.0136,0.0464,0,0
1,2020-01-31,ada,idaho,16001,413420.0,0.0210,0.0959,1282,-0.1419,-0.1803,...,0.0358,0.0961,1322,-0.1376,-0.1675,0.031201,0.0051,0.0159,0,0
2,2020-01-31,adams,colorado,8001,450000.0,0.0779,0.0588,504,-0.3793,-0.4419,...,0.0860,0.0552,1178,-0.2929,-0.2976,1.337302,0.2856,0.4802,0,0
3,2020-01-31,adams,illinois,17001,139900.0,-0.0264,0.0919,230,-0.2308,-0.1481,...,-0.0287,0.0720,293,-0.0298,0.0693,0.273913,0.2639,0.2591,0,0
4,2020-01-31,adams,pennsylvania,42001,261523.0,0.0078,0.1398,271,-0.0906,-0.0814,...,0.0184,0.1558,290,-0.0909,-0.0675,0.070111,-0.0004,0.0159,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13799,2021-02-28,york,pennsylvania,42133,287250.0,0.0445,0.1451,404,-0.0901,-0.5526,...,0.0123,0.1460,1138,0.0053,0.1426,1.816832,0.2673,1.7138,35812,722
13800,2021-02-28,york,south carolina,45091,400112.5,0.0146,0.1338,245,-0.1695,-0.6621,...,0.0340,0.2220,570,-0.0880,-0.5031,1.326531,0.2079,0.7445,26643,332
13801,2021-02-28,york,virginia,51199,325990.0,-0.0686,-0.0683,120,-0.1176,-0.4619,...,0.0122,0.0727,141,-0.0962,-0.4198,0.175000,0.0279,0.0853,3008,30
13802,2021-02-28,yuba,california,6115,404500.0,0.0138,0.0787,74,-0.0750,-0.6652,...,-0.0136,0.2071,237,0.0922,-0.3663,2.202703,0.4902,1.5104,5733,37
13803,2021-02-28,yuma,arizona,4027,257500.0,0.0729,0.0962,166,-0.0514,-0.6982,...,-0.0052,0.1937,465,0.0310,-0.3882,1.801205,0.2241,1.4194,36425,789

In [36]:
full = full.rename(columns={'cases_y': 'cases', 'deaths_y': 'deaths'})

In [37]:
full.to_csv('data/fixed_project_data.csv', index=False)

In [38]:
full[full['date'] == '2021-02-28']['state'].

,date,county,state,county_fips,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,...,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy,cases,deaths
12818,2021-02-28,acadia,louisiana,22001,155000.0,-0.0306,0.0697,77,-0.0610,-0.4122,...,0.0072,0.1566,125,0.0684,-0.2284,0.623377,0.1965,0.3867,6077,185
12819,2021-02-28,ada,idaho,16001,502715.0,0.0696,0.1972,312,-0.1854,-0.7345,...,0.1123,0.4308,2024,0.0476,0.6645,5.487179,1.4428,5.4523,46715,434
12820,2021-02-28,adams,colorado,8001,435950.0,-0.0090,-0.0401,273,-0.0714,-0.4116,...,0.0220,0.0117,1338,0.1799,0.0075,3.901099,1.0440,2.0390,48413,613
12821,2021-02-28,adams,illinois,17001,127800.0,0.0224,-0.0806,182,-0.0109,-0.1333,...,-0.0065,-0.0454,216,0.0237,-0.2258,0.186813,0.0401,-0.1418,8003,114
12822,2021-02-28,adams,pennsylvania,42001,337490.0,-0.0071,0.2740,121,-0.1712,-0.5502,...,-0.0921,0.2561,252,-0.0701,-0.1250,1.082645,0.2265,1.0120,7273,150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13799,2021-02-28,york,pennsylvania,42133,287250.0,0.0445,0.1451,404,-0.0901,-0.5526,...,0.0123,0.1460,1138,0.0053,0.1426,1.816832,0.2673,1.7138,35812,722
13800,2021-02-28,york,south carolina,45091,400112.5,0.0146,0.1338,245,-0.1695,-0.6621,...,0.0340,0.2220,570,-0.0880,-0.5031,1.326531,0.2079,0.7445,26643,332
13801,2021-02-28,york,virginia,51199,325990.0,-0.0686,-0.0683,120,-0.1176,-0.4619,...,0.0122,0.0727,141,-0.0962,-0.4198,0.175000,0.0279,0.0853,3008,30
13802,2021-02-28,yuba,california,6115,404500.0,0.0138,0.0787,74,-0.0750,-0.6652,...,-0.0136,0.2071,237,0.0922,-0.3663,2.202703,0.4902,1.5104,5733,37
13803,2021-02-28,yuma,arizona,4027,257500.0,0.0729,0.0962,166,-0.0514,-0.6982,...,-0.0052,0.1937,465,0.0310,-0.3882,1.801205,0.2241,1.4194,36425,789