In [1]:
import pandas as pd

In [2]:
# import all csvs to list
import glob
# data from https://www.realtor.com/research/data/
df_list = [pd.read_csv(file) for file in glob.glob('data/*.csv')]

In [3]:
df_list[0].head()

,month_date_yyyymm,county_fips,county_name,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,median_days_on_market,...,median_square_feet_yy,average_listing_price,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy
0,202102,26111,"midland, mi",199400.0,-0.0025,-0.0273,95,-0.1739,-0.6360,72.0,...,-0.1111,286368.1737,0.0581,0.1453,302,-0.0351,-0.3588,2.178947,0.4572,1.3743
1,202102,18065,"henry, in",79900.0,-0.1112,-0.0910,88,-0.1927,-0.5368,58.5,...,0.0223,121103.5776,-0.0337,-0.0394,165,-0.1538,-0.2979,0.875000,0.0860,0.6382
2,202102,30063,"missoula, mt",599000.0,-0.1306,0.3629,119,-0.0325,-0.6281,85.5,...,0.0807,950933.1844,-0.0759,0.6212,340,0.0726,-0.3750,1.857143,0.2799,1.1571
3,202102,10001,"kent, de",331450.0,0.0233,0.2053,206,-0.0190,-0.6135,74.0,...,0.0812,333143.1480,0.0171,0.2057,608,-0.0500,0.0393,1.951456,-0.0962,1.8539
4,202102,23005,"cumberland, me",465000.0,-0.0085,0.1074,270,-0.1205,-0.5345,41.0,...,-0.0856,605446.4750,0.0313,0.0384,376,-0.0852,-0.4487,0.392593,0.0538,0.2167

In [4]:
df_list[1].head()

,county_fips,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,median_days_on_market,median_days_on_market_mm,median_days_on_market_yy,...,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy,state_id,county,state,date
0,26111,199400.0,-0.0025,-0.0273,95,-0.1739,-0.636,72.0,-0.064935,-0.234043,...,302,-0.0351,-0.3588,2.178947,0.4572,1.3743,mi,midland,michigan,2021-02-01
1,26111,199400.0,-0.0025,-0.0273,95,-0.1739,-0.636,72.0,-0.064935,-0.234043,...,302,-0.0351,-0.3588,2.178947,0.4572,1.3743,mi,midland,michigan,2021-02-01
2,26111,199400.0,-0.0025,-0.0273,95,-0.1739,-0.636,72.0,-0.064935,-0.234043,...,302,-0.0351,-0.3588,2.178947,0.4572,1.3743,mi,midland,michigan,2021-02-01
3,26111,199400.0,-0.0025,-0.0273,95,-0.1739,-0.636,72.0,-0.064935,-0.234043,...,302,-0.0351,-0.3588,2.178947,0.4572,1.3743,mi,midland,michigan,2021-02-01
4,26111,199400.0,-0.0025,-0.0273,95,-0.1739,-0.636,72.0,-0.064935,-0.234043,...,302,-0.0351,-0.3588,2.178947,0.4572,1.3743,mi,midland,michigan,2021-02-01

In [5]:
df_list[0]['state_id'] = df_list[0]['county_name'].apply(lambda x: x.split(', ')[1])
df_list[0]['county'] = df_list[0]['county_name'].apply(lambda x: x.split(', ')[0])

In [6]:
# merge data together
realtor = pd.merge(df_list[0], df_list[1][['state', 'state_id']], left_on='state_id', right_on='state_id').drop(['county_name'], axis=1)

MemoryError: Unable to allocate 41.1 GiB for an array with shape (5510478848,) and data type int64

In [17]:
realtor.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3136000 entries, 0 to 3135999
Data columns (total 41 columns):
 #   Column                                   Dtype
---  ------                                   -----
 0   month_date_yyyymm                        int64
 1   county_fips                              int64
 2   median_listing_price                     float64
 3   median_listing_price_mm                  float64
 4   median_listing_price_yy                  float64
 5   active_listing_count                     int64
 6   active_listing_count_mm                  float64
 7   active_listing_count_yy                  float64
 8   median_days_on_market                    float64
 9   median_days_on_market_mm                 float64
 10  median_days_on_market_yy                 float64
 11  new_listing_count                        int64
 12  new_listing_count_mm                     float64
 13  new_listing_count_yy                     float64
 14  price_increased_count                    int64
 15  price_increased_count_mm                 float64
 16  price_increased_count_yy                 float64
 17  price_reduced_count                      int64
 18  price_reduced_count_mm                   float64
 19  price_reduced_count_yy                   float64
 20  pending_listing_count                    int64
 21  pending_listing_count_mm                 float64
 22  pending_listing_count_yy                 float64
 23  median_listing_price_per_square_foot     float64
 24  median_listing_price_per_square_foot_mm  float64
 25  median_listing_price_per_square_foot_yy  float64
 26  median_square_feet                       float64
 27  median_square_feet_mm                    float64
 28  median_square_feet_yy                    float64
 29  average_listing_price                    float64
 30  average_listing_price_mm                 float64
 31  average_listing_price_yy                 float64
 32  total_listing_count                      int64
 33  total_listing_count_mm                   float64
 34  total_listing_count_yy                   float64
 35  pending_ratio                            float64
 36  pending_ratio_mm                         float64
 37  pending_ratio_yy                         float64
 38  state_id                                 object
 39  county                                   object
 40  state                                    object
dtypes: float64(30), int64(8), object(3)
memory usage: 1004.9+ MB

In [24]:
# convert to datetime
realtor['date'] = pd.to_datetime(realtor['month_date_yyyymm'], format='%Y%m', errors='coerce').dropna()
realtor.drop('month_date_yyyymm', axis=1, inplace=True)

In [28]:
# smaller set with only 2020 to current
realtor_covid = realtor[realtor['date'] >= '2020']

In [29]:
# saving to csvs for later use
realtor.to_csv('data/full_realtor.csv', index=False)
realtor_covid.to_csv('data/realtor_covid.csv', index=False)

------

In [1]:
import pandas as pd

In [2]:
cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')

In [3]:
deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')

In [4]:
cases.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,3/21/21,3/22/21,3/23/21,3/24/21,3/25/21,3/26/21,3/27/21,3/28/21,3/29/21,3/30/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,6513,6517,6525,6533,6540,6543,6562,6570,6577,6580
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,20347,20361,20354,20395,20417,20423,20453,20473,20487,20492
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,2212,2213,2213,2216,2218,2221,2224,2226,2226,2227
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,2529,2529,2530,2535,2534,2535,2535,2536,2536,2537
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,6383,6387,6388,6402,6408,6415,6420,6424,6426,6443

In [5]:
deaths.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,3/21/21,3/22/21,3/23/21,3/24/21,3/25/21,3/26/21,3/27/21,3/28/21,3/29/21,3/30/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,98,98,99,99,99,99,99,99,99,99
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,296,296,297,300,300,301,301,301,301,301
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,54,54,54,54,54,54,54,54,54,54
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,58,58,58,58,58,58,58,58,58,58
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,130,130,130,131,131,131,131,131,131,131

In [6]:
# melt dates to column
val_cols = cases.columns[11:]
id_cols = cases.columns[:11]
cases = cases.melt(value_vars=val_cols, id_vars=id_cols, var_name='date', value_name='cases')

In [7]:
# same for deaths
val_cols = deaths.columns[12:]
id_cols = deaths.columns[:12]
deaths = deaths.melt(value_vars=val_cols, id_vars=id_cols, var_name='date', value_name='deaths')

In [8]:
cases.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,date,cases
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,"Autauga, Alabama, US",1/22/20,0
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,"Baldwin, Alabama, US",1/22/20,0
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,"Barbour, Alabama, US",1/22/20,0
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,"Bibb, Alabama, US",1/22/20,0
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,"Blount, Alabama, US",1/22/20,0

In [9]:
deaths.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Population,date,deaths
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,"Autauga, Alabama, US",55869,1/22/20,0
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,"Baldwin, Alabama, US",223234,1/22/20,0
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,"Barbour, Alabama, US",24686,1/22/20,0
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,"Bibb, Alabama, US",22394,1/22/20,0
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,"Blount, Alabama, US",57826,1/22/20,0

In [10]:
# convert to datetime
cases['date'] = pd.to_datetime(cases.date)
deaths['date'] = pd.to_datetime(deaths.date)

In [11]:
# grouping on monthly 
g = cases.groupby([pd.Grouper(freq="M", key='date',), 'Admin2', 'Province_State'])
cases_g = g.sum().reset_index()[['date', 'Admin2', 'Province_State', 'cases']]
cases_g

            date     Admin2  Province_State    cases
0     2020-01-31  Abbeville  South Carolina        0
1     2020-01-31     Acadia       Louisiana        0
2     2020-01-31   Accomack        Virginia        0
3     2020-01-31        Ada           Idaho        0
4     2020-01-31      Adair            Iowa        0
...          ...        ...             ...      ...
50005 2021-03-31       Yuma         Arizona  1098436
50006 2021-03-31       Yuma        Colorado    23354
50007 2021-03-31     Zapata           Texas    52491
50008 2021-03-31     Zavala           Texas    54935
50009 2021-03-31    Ziebach    South Dakota    10106

[50010 rows x 4 columns]

In [12]:
# grouping on monthly for deaths
g = deaths.groupby([pd.Grouper(freq="M", key='date',), 'Admin2', 'Province_State'])
deaths_g = g.sum().reset_index()[['date', 'Admin2', 'Province_State', 'deaths']]
deaths_g

            date     Admin2  Province_State  deaths
0     2020-01-31  Abbeville  South Carolina       0
1     2020-01-31     Acadia       Louisiana       0
2     2020-01-31   Accomack        Virginia       0
3     2020-01-31        Ada           Idaho       0
4     2020-01-31      Adair            Iowa       0
...          ...        ...             ...     ...
50005 2021-03-31       Yuma         Arizona   24224
50006 2021-03-31       Yuma        Colorado     510
50007 2021-03-31     Zapata           Texas     874
50008 2021-03-31     Zavala           Texas    1175
50009 2021-03-31    Ziebach    South Dakota     270

[50010 rows x 4 columns]

In [13]:
# merge data 
covid = pd.merge(left=cases_g, right=deaths_g, how='left')

In [14]:
covid.head()

        date     Admin2  Province_State  cases  deaths
0 2020-01-31  Abbeville  South Carolina      0       0
1 2020-01-31     Acadia       Louisiana      0       0
2 2020-01-31   Accomack        Virginia      0       0
3 2020-01-31        Ada           Idaho      0       0
4 2020-01-31      Adair            Iowa      0       0

In [18]:
# normalize text
covid[['county', 'state']] = covid[['Admin2', 'Province_State']].apply(lambda x: x.astype(str).str.lower())
# drop cols
covid.drop(['Admin2', 'Province_State'], axis=1, inplace=True)

In [20]:
covid.to_csv('data/joined_covid.csv')

-----

In [1]:
import pandas as pd

In [2]:
covid = pd.read_csv('data/joined_covid.csv', parse_dates=[1])
houses = pd.read_csv('data/realtor_covid.csv', parse_dates=[40])

In [3]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50010 entries, 0 to 50009
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  50010 non-null  int64
 1   date        50010 non-null  datetime64[ns]
 2   cases       50010 non-null  int64
 3   deaths      50010 non-null  int64
 4   county      50010 non-null  object
 5   state       50010 non-null  object
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 2.3+ MB

In [4]:
houses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 784000 entries, 0 to 783999
Data columns (total 41 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   county_fips                              784000 non-null  int64
 1   median_listing_price                     784000 non-null  float64
 2   median_listing_price_mm                  784000 non-null  float64
 3   median_listing_price_yy                  784000 non-null  float64
 4   active_listing_count                     784000 non-null  int64
 5   active_listing_count_mm                  784000 non-null  float64
 6   active_listing_count_yy                  784000 non-null  float64
 7   median_days_on_market                    784000 non-null  float64
 8   median_days_on_market_mm                 784000 non-null  float64
 9   median_days_on_market_yy                 784000 non-null  float64
 10  new_listing_count                        784000 non-null  int64
 11  new_listing_count_mm                     784000 non-null  float64
 12  new_listing_count_yy                     784000 non-null  float64
 13  price_increased_count                    784000 non-null  int64
 14  price_increased_count_mm                 486864 non-null  float64
 15  price_increased_count_yy                 477624 non-null  float64
 16  price_reduced_count                      784000 non-null  int64
 17  price_reduced_count_mm                   782936 non-null  float64
 18  price_reduced_count_yy                   783664 non-null  float64
 19  pending_listing_count                    784000 non-null  int64
 20  pending_listing_count_mm                 774256 non-null  float64
 21  pending_listing_count_yy                 763056 non-null  float64
 22  median_listing_price_per_square_foot     784000 non-null  float64
 23  median_listing_price_per_square_foot_mm  760032 non-null  float64
 24  median_listing_price_per_square_foot_yy  752864 non-null  float64
 25  median_square_feet                       784000 non-null  float64
 26  median_square_feet_mm                    760032 non-null  float64
 27  median_square_feet_yy                    752864 non-null  float64
 28  average_listing_price                    784000 non-null  float64
 29  average_listing_price_mm                 784000 non-null  float64
 30  average_listing_price_yy                 784000 non-null  float64
 31  total_listing_count                      784000 non-null  int64
 32  total_listing_count_mm                   784000 non-null  float64
 33  total_listing_count_yy                   784000 non-null  float64
 34  pending_ratio                            784000 non-null  float64
 35  pending_ratio_mm                         784000 non-null  float64
 36  pending_ratio_yy                         784000 non-null  float64
 37  state_id                                 784000 non-null  object
 38  county                                   784000 non-null  object
 39  state                                    784000 non-null  object
 40  date                                     784000 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(30), int64(7), object(3)
memory usage: 245.2+ MB

In [5]:
# grouping on monthly for deaths
g = houses.groupby([pd.Grouper(freq="M", key='date'), 'county', 'state'])
houses_g = g.median().reset_index()
houses_g.head()

,date,county,state,county_fips,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,...,median_square_feet_yy,average_listing_price,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy
0,2020-01-31,acadia,louisiana,22001,145500.0,0.0055,0.1086,127,-0.0078,-0.2256,...,0.0399,186789.8603,0.0118,0.3000,160,-0.0184,-0.1960,0.259843,-0.0136,0.0464
1,2020-01-31,ada,idaho,16001,413420.0,0.0210,0.0959,1282,-0.1419,-0.1803,...,0.0268,516557.6337,0.0358,0.0961,1322,-0.1376,-0.1675,0.031201,0.0051,0.0159
2,2020-01-31,adams,colorado,8001,450000.0,0.0779,0.0588,504,-0.3793,-0.4419,...,-0.1725,486766.6235,0.0860,0.0552,1178,-0.2929,-0.2976,1.337302,0.2856,0.4802
3,2020-01-31,adams,illinois,17001,139900.0,-0.0264,0.0919,230,-0.2308,-0.1481,...,0.0649,171636.9751,-0.0287,0.0720,293,-0.0298,0.0693,0.273913,0.2639,0.2591
4,2020-01-31,adams,pennsylvania,42001,261523.0,0.0078,0.1398,271,-0.0906,-0.0814,...,0.0026,313820.6188,0.0184,0.1558,290,-0.0909,-0.0675,0.070111,-0.0004,0.0159

In [9]:
# merge data 
df = pd.merge(covid, houses_g, on=['county', 'state', 'date'])

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13804 entries, 0 to 13803
Data columns (total 43 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Unnamed: 0                               13804 non-null  int64
 1   date                                     13804 non-null  datetime64[ns]
 2   cases                                    13804 non-null  int64
 3   deaths                                   13804 non-null  int64
 4   county                                   13804 non-null  object
 5   state                                    13804 non-null  object
 6   county_fips                              13804 non-null  int64
 7   median_listing_price                     13804 non-null  float64
 8   median_listing_price_mm                  13804 non-null  float64
 9   median_listing_price_yy                  13804 non-null  float64
 10  active_listing_count                     13804 non-null  int64
 11  active_listing_count_mm                  13804 non-null  float64
 12  active_listing_count_yy                  13804 non-null  float64
 13  median_days_on_market                    13804 non-null  float64
 14  median_days_on_market_mm                 13804 non-null  float64
 15  median_days_on_market_yy                 13804 non-null  float64
 16  new_listing_count                        13804 non-null  int64
 17  new_listing_count_mm                     13804 non-null  float64
 18  new_listing_count_yy                     13804 non-null  float64
 19  price_increased_count                    13804 non-null  int64
 20  price_increased_count_mm                 8566 non-null   float64
 21  price_increased_count_yy                 8406 non-null   float64
 22  price_reduced_count                      13804 non-null  int64
 23  price_reduced_count_mm                   13786 non-null  float64
 24  price_reduced_count_yy                   13798 non-null  float64
 25  pending_listing_count                    13804 non-null  int64
 26  pending_listing_count_mm                 13652 non-null  float64
 27  pending_listing_count_yy                 13466 non-null  float64
 28  median_listing_price_per_square_foot     13804 non-null  float64
 29  median_listing_price_per_square_foot_mm  13376 non-null  float64
 30  median_listing_price_per_square_foot_yy  13248 non-null  float64
 31  median_square_feet                       13804 non-null  float64
 32  median_square_feet_mm                    13376 non-null  float64
 33  median_square_feet_yy                    13248 non-null  float64
 34  average_listing_price                    13804 non-null  float64
 35  average_listing_price_mm                 13804 non-null  float64
 36  average_listing_price_yy                 13804 non-null  float64
 37  total_listing_count                      13804 non-null  int64
 38  total_listing_count_mm                   13804 non-null  float64
 39  total_listing_count_yy                   13804 non-null  float64
 40  pending_ratio                            13804 non-null  float64
 41  pending_ratio_mm                         13804 non-null  float64
 42  pending_ratio_yy                         13804 non-null  float64
dtypes: datetime64[ns](1), float64(30), int64(10), object(2)
memory usage: 4.6+ MB

In [18]:
df.drop('Unnamed: 0', axis=1).to_csv('data/project_data.csv')